<h1>Genres</h1>
<p>
  <%@genres.each do |genre| %>

    <a href="/genres/<%=genre.id%>">
      <h1><%=genre.name%></h1>
    </a>

  <h4>Artist:</h4>
  <%genre.artists.each do |artist|%>

  <ul>
    <%=artist.name%>
  </ul>

  <%end%>
  <h4>Songs:</h4>
  <%genre.songs.each do |song|%>
  <ul>
          <%=song.name%>
  </ul>
  <%end%>
  <%end%>

</p>
