<ul>
  <%@artists.each do |artist| %>
  <li>
    <a href="/artists/<%=artist.id%>">
      <%=artist.name%>
    </a>
  </li>
  <p>
  <%=artist.songs.name%>
  </p>
  <p>
  <%="genre name"%>
  </p>
  <%end%>



</ul>
