<h1>Artists</h1>
<p>
  <%@artists.each do |artist| %>

    <a href="/artists/<%=artist.slug%>">
      <%=artist.name%>
    </a>

  <h4>Songs:</h4>
    <%artist.songs.each do |song|%>
  <ul>
        <%=song.name%>
  </ul>
  <%end%>

  <h4>Genres:</h4>
  <%artist.genres.each do |genre|%>
  <ul>
          <%=genre.name%>
  </ul>
  <%end%>
  <%end%>



</p>
