<h1>Songs</h1>
<p>
  <%@songs.each do |song| %>

    <a href="/songs/<%=song.id%>">
      <h4><%=song.name%></h4>
    </a>

  <ul>
        <%=song.artist.name%>
  </ul>

  <h4>Genres:</h4>
  <%song.genres.each do |genre|%>
  <ul>
          <%=genre.name%>
  </ul>
  <%end%>
  <%end%>



</p>
